*.Rproj.user*
.Rhistory
.RData
.Ruserdata
.Renviron
*config.json
*.xlsx
*.xls
*.mdb
*.DS_Store
*.DBF
*.doc
*.accdb
*.DS_Store
.Rproj.user
*config.yml
*.Rproj.user
.Rproj.user/**
data-raw/rsconnect
data-raw/shapes
